# Ambiente Virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Dados (Não subir os CSVs pesados)
data/processed/
data/raw/1T2025/
data/raw/2T2025/
data/raw/3T2025/
*.zip

# Docker
postgres_data/

# IDEs
.vscode/
.idea/

